body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1{
    padding: 1rem 4rem;
}

#task-container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.4rem;
}

.task-list {
    margin-bottom: 20px;
}

.task-list h2 {
    margin: 0;
    font-size: 14px;
    padding: 1rem;
    background: #333;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}

.task-list .tasks {
    display: none;
    padding: 10px;
}

.task {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.task:last-child {
    border-bottom: none;
}

.task h3 {
    margin: 0;
    font-size: 16px;
    padding: 0.4rem;
}

.task p {
    display: none;
}
